In [2]:
import pandas as pd

# Sample data
data = {
    'Product_ID': [101, 102, 103, 104, 105],
    'Product_Name': ['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics'],
    'Price': [1200, 800, 400, 100, 300],
    'Quantity_Sold': [50, 100, 80, 200, 120]
}

In [3]:
# Task 1: DataFrame Creation
products = pd.DataFrame(data)

# Displaying the DataFrame
products

   Product_ID Product_Name     Category  Price  Quantity_Sold
0         101       Laptop  Electronics   1200             50
1         102   Smartphone  Electronics    800            100
2         103       Tablet  Electronics    400             80
3         104   Headphones  Accessories    100            200
4         105   Smartwatch  Electronics    300            120

In [3]:
# Task 2: Indexing and Slicing
print(employees.loc[3:4, ['Name', 'Salary']])  # Using index labels for rows and column names

Indexing and Slicing:
Using label-based indexing:
    Name  Salary
3  David   70000
4   Emma   65000

In [4]:
# Using positional-based indexing
print(employees.iloc[3:5, [0, 3]])  # Using integer positions for rows and column positions

Using positional-based indexing:
    Name  Salary
3  David   70000
4   Emma   65000

In [5]:
# Task 3: Boolean Indexing
print(employees[employees['Age'] >= 30])  # Filtering data based on age

Boolean indexing:
      Name  Age      City  Salary
1      Bob   30  New York   75000
2  Charlie   35     Paris   80000
4     Emma   32    Sydney   65000